@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-5 {
  margin-right: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 5rem;
}

.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-4 {
  padding-right: 4rem;
}
.pr-5 {
  padding-right: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pl-5 {
  padding-left: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pb-5 {
  padding-bottom: 5rem;
}

.cardButton {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Changa", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #f67800;
  color: #c8d6e5;
}
.cardButton:hover {
  font-weight: bold;
  border: none;
  background-color: #dc6c00;
  color: #c8d6e5;
}

.card-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  height: 23rem;
  padding: 0.5rem;
  color: rgb(56, 55, 55);
  border: 1px solid #c8d6e5;
}
.card-skeleton-box {
  width: 90%;
  height: 54%;
  border-radius: 10px;
}
.card-skeleton-box span {
  height: 100%;
}
.card-skeleton-title {
  width: 90%;
  height: 5%;
}
.card-skeleton-title span {
  height: 100%;
}
.card-skeleton-price {
  align-self: flex-start;
  width: 20%;
  height: 5%;
}
.card-skeleton-price span {
  margin-left: 0.5rem;
  height: 100%;
}
.card-skeleton-button {
  width: 90%;
  height: 15%;
  margin-top: 1rem;
}
.card-skeleton-button span {
  height: 100%;
  border-radius: 15px;
}

.productListItem {
  border: 1px solid rgb(214, 214, 214);
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  text-align: left;
}
.productListItem a {
  width: 90%;
  height: 100%;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-family: "Changa", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}
.productListItem a:visited, .productListItem a:hover, .productListItem a:active {
  color: inherit;
}
.productListItem a .imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  position: relative;
}
.productListItem a .imageContainer img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  top: 0;
  left: 0;
}
.productListItem a .imageContainer .saleBadge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 10;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 1px solid #c8d6e5;
  width: 1rem;
  height: 1rem;
  text-decoration: none;
  top: -5rem;
  left: -7rem;
}
.productListItem a .imageContainer .saleBadge p {
  margin-bottom: 0;
  border: none;
  color: #c8d6e5;
  text-decoration: none;
  background-color: transparent;
}
.productListItem a .imageContainer .saleBadge i {
  color: #e92425;
}
.productListItem a-title {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  padding-left: 0.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
}
.productListItem button {
  margin-bottom: 1rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  width: 100%;
  cursor: pointer;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.4s ease;
}
.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

@-webkit-keyframes scaler {
  from {
    scale: 0;
    transform: scaleX(0%);
  }
  to {
    scale: 1;
    transform: scaleX(100%);
  }
}

@keyframes scaler {
  from {
    scale: 0;
    transform: scaleX(0%);
  }
  to {
    scale: 1;
    transform: scaleX(100%);
  }
}
.menu {
  background: #ff9f43;
  border-radius: 8px;
  top: 30px;
  left: 0;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  background-color: #333333;
}
.menu-active {
  -webkit-animation-name: scaler;
          animation-name: scaler;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: none;
          animation-direction: none;
  opacity: 1;
  background-color: #333333;
}
.menu-inactive {
  scale: 0;
  opacity: 0;
  visibility: hidden;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  border-bottom: 1px solid #dddddd;
}
.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}

.productList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.navbar {
  box-sizing: border-box;
  height: 15vh;
  margin: 0;
  padding: 0 !important;
}

.navigation {
  height: 100%;
  width: 100% !important;
  background-color: #292c38;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation-links {
  width: 75%;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navigation-links-logo {
  font-family: "Changa", sans-serif;
  font-size: 3.4rem;
  background-color: transparent;
  color: #c8d6e5;
}
.navigation-links a {
  color: #c8d6e5;
  background-color: transparent;
  padding-left: 1rem;
}

.loggers {
  background-color: #292c38;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.loggers-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loggers-icons .basketDiv {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding-bottom: 0.6rem;
}
.loggers-icons .basketDiv a {
  text-decoration: none;
  background: transparent;
  width: 100%;
  font-size: 1.4rem;
  background-color: transparent;
}
.loggers-icons .basketDiv a i {
  width: 100%;
  font-size: 2.6rem;
  color: white;
  background-color: transparent;
  transition: all 0.5s;
}
.loggers-icons .basketDiv a i:hover {
  color: #ff9f43;
}
.loggers-icons .basketDiv a .badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e92425;
  position: relative;
  z-index: 10;
  border-radius: 50%;
  font-size: 1rem;
  border: 1px solid #c8d6e5;
  width: 1.6rem;
  height: 1.6rem;
  text-decoration: none;
  top: 0.8rem;
  left: 2rem;
}
.loggers-icons .basketDiv a .badge p {
  margin-bottom: 0;
  border: none;
  color: #c8d6e5;
  text-decoration: none;
  background-color: transparent;
}
.loggers-buttons {
  background-color: transparent;
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loggers-buttons button {
  width: 6rem;
  height: 3rem;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
.loggers-buttons-log {
  background-color: #dc6c00;
  color: white;
}
.loggers-buttons-log:hover {
  background-color: #c8d6e5;
  color: black;
}
.loggers-buttons-sign {
  background-color: #13151b;
  color: white;
}
.loggers-buttons-sign:hover {
  background-color: #c8d6e5;
  color: black;
}
.loggers .userBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}
.loggers .userBox .userIMG img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.loggers .userBox .userPanel {
  border: 3px solid green;
}

.filterBar {
  position: relative;
  border: 1px solid black;
  height: 5rem;
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.filterBar .radios {
  position: absolute;
  top: 0;
  left: 0;
}
.filterBar .radios input {
  visibility: hidden;
  scale: 0;
  z-index: -10;
}
.filterBar .labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filterBar .labels .break {
  font-size: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.filterBar .labels .label-activated {
  color: #545a73;
  font-size: 1.4rem;
}

.form-container {
  display: flex;
}

.registration-form {
  width: 50vw;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.registration-form h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 1.2rem;
}
.registration-form input {
  width: 25rem;
}
.registration-form .loginbtn {
  font-size: 1.4rem;
  width: 15rem !important;
}
.registration-form .otherBtns .btn {
  font-size: 1.4rem;
}

.ProductDetailsPage .container {
  display: grid;
  border: 1px solid green;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Changa", sans-serif;
  gap: 1rem;
}
.ProductDetailsPage .container .leftCol {
  min-height: 80vh;
  width: 100%;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer .imageContainer {
  width: 100%;
  height: 50%;
  display: flex;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer .imageContainer img {
  width: 95%;
  height: 95%;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 1rem auto;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer .imagesMasonary {
  display: grid;
  padding: 1rem;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer .imagesMasonary .imageBox {
  width: 100%;
  height: 100%;
}
.ProductDetailsPage .container .leftCol .allProductImagesContainer .imagesMasonary .imageBox img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 10rem;
  height: 10rem;
  border: 1px solid gray;
}
.ProductDetailsPage .container .rightCol {
  min-height: 80vh;
  padding: 1rem;
}
.ProductDetailsPage .container .rightCol .titleDiv {
  line-height: 2rem;
  font-weight: 500;
}
.ProductDetailsPage .container .rightCol .titleDiv-title {
  font-size: 2.2rem;
  font-weight: 500;
}
.ProductDetailsPage .container .rightCol .titleDiv-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  height: 5rem;
}
.ProductDetailsPage .container .rightCol .titleDiv-price .oldPrice {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ProductDetailsPage .container .rightCol .titleDiv-price .oldPrice .topFont .sale .dolarSign {
  font-size: 1rem;
}
.ProductDetailsPage .container .rightCol .titleDiv-price .oldPrice .topFont span:first-child {
  text-shadow: 1px 1px 1px gray;
  font-size: 1.6rem;
  color: #a6a6a6;
  text-decoration: line-through;
  letter-spacing: 1px;
}
.ProductDetailsPage .container .rightCol .titleDiv-price .oldPrice .topFont span:last-child {
  color: #1dd1a1;
}
.ProductDetailsPage .container .rightCol .titleDiv-price .oldPrice h1 {
  text-shadow: 1px 1px 1px gray;
  color: #1dd1a1;
  letter-spacing: 1px;
}
.ProductDetailsPage .container .rightCol .titleDiv-price-buttons {
  width: 50%;
  height: 100%;
  border: 1px solid peru;
}
.ProductDetailsPage .container .rightCol .productDetails {
  width: 100%;
}
.ProductDetailsPage .container .rightCol .productDetails-table {
  width: 100%;
  width: 100%;
}
.ProductDetailsPage .container .rightCol .productDetails-table h3 {
  color: blue;
}
.ProductDetailsPage .container .rightCol .productDetails-table .header {
  box-shadow: 0 1px #c8d6e5;
}
.ProductDetailsPage .container .rightCol .productDetails-table tr td {
  width: 50%;
}

.dashboard {
  width: 100%;
  height: 100vh;
  margin-top: 1rem;
}
.dashboard .bg-productForm {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: none;
  scale: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dashboard .bg-productForm-content {
  width: 25rem;
  height: 35rem;
  background-color: white;
}
.dashboard .activated {
  visibility: visible;
  scale: 1;
}
.dashboard .container {
  border: 1px solid black;
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
}
.dashboard .container .profileCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgb(0, 0, 0);
}
.dashboard .container .profileCol-imageContainer {
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dashboard .container .profileCol-imageContainer img {
  border: 2px solid gray;
  border-radius: 8px;
  height: 90%;
  width: 90%;
}
.dashboard .container .profileCol-userDetails {
  display: block;
}
.dashboard .container .dashboard-panel .productsDiv {
  font-family: "Changa", sans-serif;
  height: 30rem;
}
.dashboard .container .dashboard-panel .productsDiv .productTable {
  width: 100%;
  height: 30vh;
  text-align: center;
  margin: 1rem;
}
.dashboard .container .dashboard-panel .productsDiv .productTable-specs tr td:first-child {
  width: 20rem;
}
.dashboard .container .dashboard-panel .productsDiv .productTable-specs tr td:last-child {
  width: 10rem;
}
.dashboard .container .dashboard-panel .productsDiv .productTable-specs tr td:last-child input {
  width: 8rem;
}
.dashboard .container .dashboard-panel .productsDiv .productTable-rows-row th {
  text-align: left;
}
.dashboard .container .dashboard-panel .productsDiv .productTable-rows-row td i {
  margin: 0.4rem;
  font-size: 1.4rem;
}
.dashboard .container .dashboard-panel .productsDiv .createProductDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.2rem;
}

.listingPages {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  flex-direction: row;
}

.filter {
  width: 20%;
  border: 1px solid red;
}

.basket .basketNav {
  width: 65%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.basket .container {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 2rem;
}
.basket .container .basketList {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  width: 75%;
}
.basket .container .basketList section:last-child {
  border-bottom: 1px solid #b3b3b3;
}
.basket .container .basketList .basketItem {
  height: 10rem;
  width: 100%;
  border-top: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.basket .container .basketList .basketItem-Left {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
.basket .container .basketList .basketItem-Left-Img {
  display: block;
  height: 100%;
  width: 15rem;
}
.basket .container .basketList .basketItem-Left-Img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 15rem;
}
.basket .container .basketList .basketItem-Left-Body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.basket .container .basketList .basketItem-Left-Body .Body-Title {
  font-family: "Changa", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.basket .container .basketList .basketItem-Left-Body .Body-Title h2 {
  color: #292c38;
  line-height: 1.4rem;
}
.basket .container .basketList .basketItem-Left-Body .Body-Title .stockCounter .inStock {
  color: green;
}
.basket .container .basketList .basketItem-Left-Body .Body-Title .stockCounter .onlyLeft {
  color: red;
}
.basket .container .basketList .basketItem-Left-Body .Body-Title span {
  color: gray;
}
.basket .container .basketList .basketItem-Left-Body .Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.basket .container .basketList .basketItem-Left-Body .Buttons-PlusMin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.basket .container .basketList .basketItem-Left-Body .Buttons-PlusMin button {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.basket .container .basketList .basketItem-Left-Body .Buttons-Delete button {
  font-size: 1.4rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  cursor: pointer;
}
.basket .container .basketList .basketItem-Right {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.basket .container .basketList .basketItem-Right h2 {
  padding-right: 2rem;
  font-family: "Changa", sans-serif;
  font-weight: 500;
}
.basket .container .payment {
  width: 20%;
  border: 1px solid #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.basket .container .payment-button {
  font-family: "Changa", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #c8d6e5;
  background-color: #ff8510;
  width: 80%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 2px #6a7190;
}
.basket .container .payment-button:hover {
  color: #c8d6e5;
  background-color: #c35f00;
}
.basket .container .payment-items {
  width: 80%;
  font-family: "Changa", sans-serif;
  font-weight: 400;
  text-shadow: 0 0 1px #292c38;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.basket .container .payment-items p {
  font-size: 0.7rem;
  color: #ee5253;
  background-color: #c8d6e5;
  text-align: center;
  width: 100%;
}
.basket .container .payment-items p .shipmentDetails .green {
  color: green;
}
.basket .container .payment-items p .shipmentDetails .red {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dce2e7;
}

.container {
  width: 85%;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */