.filterBar {
  position: relative;
  border-radius: 15px;
  border: 2px solid $blue;
  height: fit-content;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: $navbar-background;
  color: $white-font;
  box-sizing: border-box;

  .radios {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;

    input {
      visibility: hidden;
      scale: 0;
      z-index: -10;
    }
  }

  .labels {
    @include flex-display(
      $direction: column,
      $align: flex-start,
      $space: space-between
    );

    font-size: 2rem;
    border-radius: 8px;
    box-sizing: border-box;
    label:nth-child(3) {
      margin-top: 2rem;
    }

    width: 100%;
    letter-spacing: 1px;
    font-family: $secondary-font;
    background-color: transparent;
    padding: 2rem;
    h3 {
      background-color: inherit;
      font-size: 2rem;
    }

    select {
      width: 80%;
      margin: 0.6rem;
      font-size: 2rem;
      padding-left: 0.8rem;
    }

    .label {
      background-color: inherit;
      cursor: pointer;
      margin: 1rem;
      height: 3.4rem;
      width: fit-content;

      position: relative;
      @include flex-display($direction: row, $space: space-between);
      border-radius: 15px;
      transition: transform 0.3s ease;

      box-sizing: border-box;

      &:hover {
        transform: translate(10px, 0);
        &:after {
          width: 100%;
          background-color: $red-dark;
        }
      }

      &:after {
        background-color: inherit;
        border-radius: 15px;
        content: '';
        display: block;
        width: 1.4rem;
        height: 0.4rem;
        background-color: $orange;
        position: absolute;
        left: 0;
        bottom: 0.2rem;
        transition: all 0.5s ease;
      }

      &-activated {
        background-color: inherit;
        color: darken($orange, 10%);
        @include flex-display($direction: row);

        position: relative;
        transition: transform 0.5s ease;
        transform: translate(20px, 0);
        &:hover {
          transform: translate(30px, 0);
          &:after {
            width: 100%;
            background-color: $red-dark;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          background-color: $red-dark;
          width: 1.4rem;
          height: 0.4rem;
          bottom: 0.4rem;
          left: 0;
          transition: all 0.5s ease;
        }
      }
    }

    .inputField {
      position: relative;
      background-color: inherit;
      margin: 0.6rem;
      width: 80%;
      .searchInput {
        height: 2.4rem;
        font-size: 1.2rem;
        padding-left: 1.2rem;

        &::placeholder {
          color: $dark-font;
          font-family: $secondary-font;

          font-weight: 500;
        }
      }

      svg {
        font-size: 1.6rem;
        position: absolute;
        top: 15%;
        right: 5%;
        color: $dark-font;
      }
    }

    span {
      background-color: inherit;
    }
  }
}

@media (max-width: 1224px) {
  .filterBar {
    width: 5rem;
    position: fixed;
    left: 0;
    display: none;

    .labels {
    }
  }
}
