//----------Abstracts

//variables

//mixins

//----------Base

//reset
@import './Abstracts/variables';
@import './Abstracts/mixins';
@import './Abstracts/typography';
//typography //fonts

//---------Components

@import './Components/subComponents/buttons';

@import './Components/subComponents/cardSkeleton';
@import './Components/subComponents/card';
@import './Components/subComponents/hintMark';

@import './Components/subComponents/loadingPage';
@import './Components/DashboardComponents/CreateProductForm/skeletonImages';
//buttons

//dropdowns
@import './Components/dropdown';
@import './Components/productList';
//carousel

//-----------Layout
//header
@import './Components/navbar';
@import './Components/filterBar';
@import './Pages/registrationPage';

//footer

//navigation

//forms
@import './Components/DashboardComponents/CreateProductForm/createProductForm';

@import './Components/DashboardComponents/updateProductForm';
@import './Components/DashboardComponents/productTables';
@import './Components/DashboardComponents/profileCol';
//sidebar

//grid

//------------Pages
@import './Components/ProductDetailsPage';
@import './Pages/dashBoard';
@import './Pages/products';
@import './Pages/basket';
@import './Pages/orders';
@import './Pages/orderAccept';
@import './Pages/profile';
//home
//about
//contact
//product
//-------------Themes
//dark - light
* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: linear-gradient(to right, $blue-dark, $purple);
  min-height: 150vh;
}

.container {
  margin: 0 auto;
}

//css variables for inline styling
:root {
  --darkFont: #{$dark-font};
  --whiteFont: #{$white-font};

  --greenDark: #{$green-dark};
  --greenLight: #{$green-light};

  --redDark: #{$red-dark};
  --redLight: #{$red-light};

  --yellow: #{$yellow};
  --orange: #{$orange};

  --orderSuccess: #{$orderSuccess};
  --orderWaiting: #{$orderWaiting};
  --orderRejected: #{$orderReject};
}
