//----------Abstracts

//variables

//mixins

//----------Base

//reset
@import './Abstracts/variables';
@import './Abstracts/mixins';
@import './Abstracts/typography';
//typography //fonts

//---------Components

@import './Components/subComponents/buttons';

@import './Components/subComponents/cardSkeleton';
@import './Components/subComponents/card';
@import './Components/subComponents/hintMark';
@import './Components/subComponents/favoriteBadge';
//buttons

//dropdowns
@import './Components/dropdown';
@import './Components/productList';
//carousel

//-----------Layout
//header
@import './Components/navbar';
@import './Components/filterBar';
@import './Pages/registrationPage';

//footer

//navigation

//forms
@import './Components/DashboardComponents/createProductForm';

//sidebar

//grid

//------------Pages
@import './Components/ProductDetailsPage';
@import './Pages/dashBoard';
@import './Pages/products';
@import './Pages/basket';
//home
//about
//contact
//product
//-------------Themes
//dark - light
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lighten($background-color, 30%);
}

.container {
  width: 85%;
  margin: 0 auto;
}
