@mixin flex-display($direction: row, $space: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $space;
  align-items: $align;
}

//badge mixin
@mixin badge(
  $width,
  $height,
  $font-size,
  $top,
  $left,
  $border-radius,
  $borderColor
) {
  position: relative;
  z-index: 10;

  border-radius: $border-radius;
  font-size: $font-size;

  border: 1px solid $borderColor;
  width: $width;
  height: $height;

  text-decoration: none;
  top: $top;
  left: $left;

  p {
    margin-bottom: 0;
    border: none;
    color: $white-font;
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin tableStyle($width, $min-height, $height) {
  a:visited,
  a {
    color: $white-font;
  }

  .tableDiv {
    background-image: $tableBackgroundColor;
    font-family: $primary-font;
    min-height: $min-height;
    height: auto;
    width: 65rem;
    border: 1px solid $tableBorderColor;
    box-sizing: border-box;
    margin: auto;
    border-top: none;
    margin: 0 auto;

    .table {
      width: 65rem;
      height: 500px;

      overflow-y: scroll;
      text-align: center;
      position: relative;
      border-collapse: collapse;
      background-color: transparent;
      display: flex;
      flex-direction: column;

      &-head {
        background-image: $tableBackgroundColor;
        color: $white-font;
        font-size: 1rem;
        position: sticky;

        top: 0;
        tr {
          background-color: transparent;
          box-shadow: 0 1px 2px 0 $dark-font;

          td {
            text-align: left;
            background-color: transparent;
            font-size: 1.4rem;
            &:nth-child(1) {
              .request {
                width: 40%;
              }

              .product {
                width: 65%;
              }
            }
            &:nth-child(2) {
              width: 10%;
            }
            &:nth-child(3) {
              width: 10%;
            }
            &:nth-child(4) {
              width: 10%;
            }
            &:nth-child(5) {
              width: 10%;
            }
          }
        }
      }

      &-rows {
        background-color: transparent;

        width: 100%;

        tr {
          color: $white-font;
          font-size: 1.2rem;

          &:nth-child(even) {
            &:hover {
              background-color: darken($purple, 20%);
            }
          }

          &:nth-child(odd) {
            &:hover {
              background-color: darken($purple, 15%);
            }
          }

          td {
            width: 100%;
            text-align: left;
            background-color: transparent;

            &:nth-child(1) {
              width: 60%;
            }
            &:nth-child(2) {
              width: 10%;
            }
            &:nth-child(3) {
              width: 10%;
            }
            &:nth-child(4) {
              width: 10%;
            }
            &:nth-child(5) {
              width: 10%;
            }

            i {
              background-color: transparent;
              margin: 0.4rem;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .createProductDiv {
      @include flex-display($space: flex-end);
      border-top: 1px solid $tableBorderColor;
      width: 100%;
      height: 4rem;
      padding-right: 1.2rem;
      button {
        background-color: $white-font;
        color: $dark-font;
      }
    }
  }
}
