@import './subClasses';

//card
$card-height: 35rem;
$border: 1px solid red;
$transition: all 0.5s;
$card-border: rgb(214, 214, 214);

//colors

$dark-font: #292c38;
$white-font: #c8d6e5;

$component-background: #c8d6e5;
$background-color: #a3b1be;

$navbar-background: #292c38;

$aqua-dark: #0abde3;
$aqua-light: #48dbfb;

$green-dark: #0c8164;
$green-light: #1dd1a1;

$purple: #5f27cd;

$blue-light: #54a0ff;
$blue: #2e86de;
$blue-dark: #341f97;

$red-dark: #d32525;
$red-light: #f36a6a;

$pink-light: #ff9ff3;
$pink: #f368e0;

$yellow: #feca57;
$orange: #ff9f43;

//dashBoard Variables
//image
$profileImageHeight: 15rem;

//table

$tableBorderColor: $blue-dark;
$tableBackgroundColor: linear-gradient(
  120deg,
  $blue-dark,
  darken($purple, 10%),
  darken($purple, 20%),
  darken($purple, 30%)
);

//basket

$basketItemBackgroundLinear: linear-gradient(
  330deg,
  rgba(84, 160, 255, 1) 0%,
  rgba(46, 134, 222, 0.5) 10%,
  rgba(52, 31, 151, 1) 100%
);
$basketItemBoxShadow: 0 0 4px 1px $green-light;
$basketItemBorderRadius: 15px;

//order

$orderSuccess: linear-gradient(
  120deg,
  rgba(50, 125, 41, 1) 0%,
  rgba(66, 177, 30, 1) 70%,
  rgba(0, 255, 100, 1) 100%
);

$orderWaiting: linear-gradient(
  48deg,
  rgba(125, 125, 41, 1) 0%,
  rgba(177, 177, 30, 1) 50%,
  rgb(153, 163, 39) 100%
);

$orderReject: linear-gradient(
  48deg,
  rgba(150, 51, 51, 1) 0%,
  rgba(177, 30, 30, 1) 50%,
  rgba(187, 26, 26, 1) 100%
);
