@import './subClasses';

//card
$card-height: 23rem;

$border: 1px solid red;
$transition: all 0.5s;
//colors

$dark-font: #292c38;
$white-font: #c8d6e5;

$component-background: #c8d6e5;
$background-color: #8395a7;

$navbar-left-background: #353b50;
$navbar-right-background: #292c38;

$aqua-dark: #0abde3;
$aqua-light: #48dbfb;

$green-dark: #10ac84;
$green-light: #1dd1a1;

$purple: #5f27cd;

$blue-light: #54a0ff;
$blue: #2e86de;
$blue-dark: #341f97;

$red-dark: #ee5253;
$red-light: #ee5253;

$pink-light: #ff9ff3;
$pink: #f368e0;

$yellow: #feca57;
$orange: #ff9f43;
