@import './subClasses';

//card
$card-height: 35rem;
$border: 1px solid red;
$transition: all 0.5s;
$card-border: rgb(214, 214, 214);

//colors

$dark-font: #292c38;
$white-font: #c8d6e5;

$component-background: #c8d6e5;
$background-color: #a3b1be;

$navbar-background: #292c38;

$aqua-dark: #0abde3;
$aqua-light: #48dbfb;

$green-dark: #0c8164;
$green-light: #1dd1a1;

$purple: #5f27cd;

$blue-light: #54a0ff;
$blue: #2e86de;
$blue-dark: #341f97;

$red-dark: #d32525;
$red-light: #f36a6a;

$pink-light: #ff9ff3;
$pink: #f368e0;

$yellow: #feca57;
$orange: #ff9f43;

//dashBoard Variables
//image
$profileImageHeight: 15rem;

//table

$tableBorderColor: $blue-dark;
$tableBackgroundColor: linear-gradient(
  120deg,
  $blue-dark,
  darken($purple, 10%),
  darken($purple, 20%),
  darken($purple, 30%)
);
