.profileCol {
  width: 50vw;
  height: 30vh;
  position: relative;
  margin: 0 auto;

  @include flex-display($space: flex-start);
  background-color: transparent;

  border: $tableBorderColor;
  &-imageContainer {
    height: 100%;
    width: 50%;
    background-color: transparent;
    @include flex-display();
    flex-shrink: 0;
    position: relative;

    &:hover {
      .wrapper {
        opacity: 1;
      }
    }

    img {
      border: 2px solid gray;
      border-radius: 8px;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    .wrapper {
      position: absolute;
      background-color: rgba($dark-font, 0.4);
      width: 100%;
      height: 100%;

      opacity: 0;
      transition: all 0.5s ease;
      @include flex-display();

      &:hover {
        border: 4px solid $green-dark;

        background-color: rgba($dark-font, 0.4);
      }

      input {
        display: none;
      }

      label {
        display: flex;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        background-color: darken($green-dark, 15%);
        border-radius: 50%;
        cursor: pointer;

        transition: background 0.5s ease;

        i {
          margin: auto;
          color: $white-font;
        }
        &:hover {
          margin: auto;
          background-color: $green-dark;
        }
      }
    }
  }

  &-userInformations {
    position: relative;
    height: 100%;
    width: 100%;

    .table {
      background: $tableBackgroundColor;
      color: $white-font;
      font-family: $primary-font;
      margin-left: 1rem;

      height: auto;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1.2rem;
      p {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        border-bottom: 1px solid white;

        &:nth-child(2) {
          @include flex-display($space: flex-end);
          cursor: pointer;
          padding-bottom: 0.4rem;
          font-size: 2rem;
        }
      }
    }

    .updateProfile {
      position: absolute;
      background-image: $tableBackgroundColor;
      top: 0;
      right: 4rem;
      width: 12rem;
      height: 100%;
      z-index: 0;
      border-left: 2px solid $purple;

      opacity: 0;
      transition: all 0.5s ease-in-out;

      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      box-shadow: 1px 0 0 0 $white-font;

      form {
        height: 100%;
        @include flex-display($direction: column);
        gap: 0.2rem;
      }

      label {
        text-indent: -5rem;
        color: $white-font;
        font-family: $primary-font;
      }

      input {
        width: 80%;
        height: 2rem;
        padding-left: 0.4rem;
      }

      button {
        border: 2px solid $dark-font;
        margin-top: 0.4rem;
        background-color: $purple;
        color: $white-font;
        width: 60%;
        border-radius: 8px;
        transition: all 0.5s ease;
        font-weight: bold;
        letter-spacing: 1px;
        height: 2.2rem;

        &:hover {
          background-color: $white-font;
          color: $dark-font;
        }
      }
    }

    .activated {
      transform: translateX(140%);
      opacity: 1;
    }
  }
}

@media (max-width: 1100px) {
  .profileCol {
    &-imageContainer {
    }

    &-userInformations {
      .table {
        p {
          &:nth-child(2) {
            visibility: hidden;
          }
        }
      }

      .updateProfile {
        display: none;
      }
    }
  }
}

@media (max-width: 780px) {
  .profileCol {
    width: 90%;
    flex-direction: column;
    margin-left: 0rem;
    &-imageContainer {
      display: none;
    }
  }
}

@media (max-width: 460px) {
  .profileCol {
    &-imageContainer {
    }
  }
}
