.profileCol {
  width: 90%;
  height: 25vh;
  border: 1px solid $tableBorderColor !important;
  margin: 0 auto;
  grid-area: profile-col;
  @include flex-display($space: flex-start);
  background-color: transparent;

  border: $tableBorderColor;
  &-imageContainer {
    height: 100%;
    background-color: transparent;
    @include flex-display();
    width: 20%;
    position: relative;

    &:hover {
      .wrapper {
        opacity: 1;
      }
    }

    img {
      border: 2px solid gray;
      border-radius: 8px;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }

    .wrapper {
      position: absolute;
      background-color: rgba($dark-font, 0.4);
      width: 100%;
      height: 100%;
      border: 1px solid $green-dark;
      opacity: 0;
      transition: all 0.5s ease;
      @include flex-display();

      &:hover {
        border: 4px solid $green-dark;

        background-color: rgba($dark-font, 0.4);
      }

      input {
        display: none;
      }

      label {
        display: flex;
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        background-color: darken($green-dark, 15%);
        border-radius: 50%;
        cursor: pointer;

        transition: background 0.5s ease;

        i {
          margin: auto;
          color: $white-font;
        }
        &:hover {
          margin: auto;
          background-color: $green-dark;
        }
      }
    }
  }

  &-userInformations {
    height: 100%;
    z-index: 1;
    .table {
      background: $tableBackgroundColor;
      color: $white-font;
      font-family: $primary-font;
      margin-left: 1rem;
      height: 100%;

      &-head {
        box-shadow: 0 3px 3px $dark-font;

        h3 {
          font-size: 1.4rem;
          line-height: 0.4rem;
        }

        i {
          font-size: 1.4rem;
        }
      }
      &-rows {
        tr {
          border-bottom: 1px solid $white-font;
          td {
            font-size: 1.2rem;
            line-height: 0.4rem;
          }
        }
      }
    }
    position: relative;
    .updateProfile {
      position: absolute;
      background-image: $tableBackgroundColor;
      top: 0;
      right: 0rem;
      width: 12rem;
      height: 100%;

      border-left: 2px solid $purple;
      z-index: -1;
      opacity: 0;
      transition: all 0.5s ease-in-out;

      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      box-shadow: 1px 0 0 0 $white-font;

      form {
        height: 100%;
        @include flex-display($direction: column);
        gap: 0.2rem;
      }

      label {
        text-indent: -5rem;
        color: $white-font;
        font-family: $primary-font;
      }

      input {
        width: 80%;
        height: 2rem;
        padding-left: 0.4rem;
      }

      button {
        border: 2px solid $dark-font;
        margin-top: 0.4rem;
        background-color: $purple;
        color: $white-font;
        width: 60%;
        border-radius: 8px;
        transition: all 0.5s ease;
        font-weight: bold;
        letter-spacing: 1px;
        height: 2.2rem;

        &:hover {
          background-color: $white-font;
          color: $dark-font;
        }
      }
    }

    .activated {
      transform: translateX(110%);
      opacity: 1;
    }
  }
}
