.basketList {
  @include flex-display($direction: column, $space: none, $align: none);
  gap: 1.2rem;
  padding: 0.2rem;

  .basketItem {
    height: 12rem;

    color: $white-font;
    background: $basketItemBackgroundLinear;

    box-shadow: $basketItemBoxShadow;

    border-radius: $basketItemBorderRadius;
    padding: 1rem;
    @include flex-display(
      $direction: row,
      $space: space-between,
      $align: center
    );

    &-Left {
      width: 80%;

      @include flex-display(
        $direction: row,
        $space: flex-start,
        $align: center
      );

      .onoffswitch-checkbox {
        height: 1.2rem;
        width: 1.2rem;
        border: 5px solid black;
      }

      &-Img {
        display: block;
        height: 8rem;
        width: 25%;

        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }

      &-Body {
        @include flex-display($direction: column, $space: space-between);

        .Body-Title {
          font-family: $primary-font;
          @include flex-display($direction: column, $align: flex-start);
          h2 {
            color: currentColor;
            line-height: 1.4rem;
          }
          .stockCounter {
            .inStock {
              color: green;
            }
            .onlyLeft {
              color: red;
            }
          }
          span {
            color: currentColor;
          }
        }
      }
    }

    &-Right {
      width: 20%;
      height: 100%;

      @include flex-display($direction: column);

      .Buttons {
        @include flex-display();
        height: 100%;

        gap: 1rem;

        &-PlusMin {
          @include flex-display($direction: row-reverse, $space: space-between);
          width: 7rem;

          button {
            border: 1px solid $white-font;
            background-color: $purple;
            color: currentColor;
            font-size: 1rem;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            cursor: pointer;
          }
        }

        &-Delete {
          button {
            font-size: 1.4rem;
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }

      .priceDiv {
        height: 100%;

        display: flex;
        h2 {
          margin: auto;

          font-family: $primary-font;
          font-weight: 500;
        }
      }
    }
  }
}
