.payment {
  color: $white-font;
  padding-top: 2.4rem;
  border-radius: 15px;
  height: 20rem;
  background: $tableBackgroundColor;
  @include flex-display($direction: column, $space: flex-start);
  &-button {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.2rem;
    color: $white-font;
    background-color: darken($orange, 20%);
    width: 80%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:disabled {
      background-color: gray;
    }

    &:hover {
      color: $white-font;
      background-color: darken($orange, 25%);

      &:disabled {
        background-color: gray;
      }
    }
  }

  &-items {
    width: 80%;
    font-family: $primary-font;
    font-weight: 400;
    text-shadow: 0 0 1px $dark-font;
    height: 1rem;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    div:nth-child(even) {
      text-align: right;
    }
    div:nth-child(odd) {
      text-align: left;
    }

    .total {
      text-align: left !important;
    }
    .price {
      text-align: right !important;
    }

    .row3 {
      font-size: 1rem;
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .shipmentDiv {
      font-size: 1rem;
      color: $white-font;

      height: 4rem;
      z-index: 10;
      text-align: justify;

      width: 100%;

      .shipmentDetails {
        .green {
          color: green;
        }
        .red {
          color: red;
        }
      }
    }
  }
}
