.basket {
  display: grid;
  grid-template-columns: 75% 25%;

  width: 70vw;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  color: $dark-font;
  .basketNav {
    height: 8rem;
    @include flex-display($space: space-between);
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;

    font-family: $primary-font;
    color: $white-font;
    padding: 1rem;

    &-Title {
      h1 {
        letter-spacing: 1px;
      }

      button {
        font-size: 0.8rem;
      }
    }

    .priceFont {
      font-size: 2rem;
      font-family: $primary-font;
    }
  }

  .basketContainer {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 70vh;

    gap: 1rem;

    display: grid;
    grid-template-columns: 75% 25%;
  }
}
