.dashboard {
  width: 100vw;
  min-height: 100vh;
  margin-top: 1rem;

  .myContainer {
    display: grid;

    width: 100%;
    grid-template-areas:
      'profile-col profile-col'
      'dashboard-panel dashboard-panel';
  }
}
