.orderPage {
  width: 100%;
  height: 100%;
  border: 3px solid $yellow;
  background-image: $basketItemBackgroundLinear;
  border-radius: 10px;

  margin-top: 3rem;

  //Header
  &-details {
    width: 100%;
    font-family: $primary-font;
    height: auto;
    background-color: $component-background;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid gray;

    h3 {
      font-size: 1.6rem;
      color: $green-dark;
      padding-left: 2rem;
      padding-top: 0.5rem;
      background-color: transparent;
    }

    &-detail {
      @include flex-display($space: space-between);
      padding: 0 2rem;

      span {
        display: inline-block;
        background-color: inherit;
        font-family: $primary-font;
        font-size: 1.2rem;

        strong {
          letter-spacing: 1px;
          text-transform: uppercase;
          background-color: inherit;
          padding-right: 0.3rem;
        }

        &:last-child {
          strong {
            color: darken($orange, 10%);
          }
          font-weight: bold;
        }
      }
    }
  }

  //body
  &-products {
    min-height: 30vh;
    width: 100%;
    padding: 1rem;

    .productContainer {
      height: 30vh;
      width: 100%;
      border: 1px solid $yellow;
      @include flex-display($align: none);

      margin-bottom: 1rem;
      color: $white-font;

      .imageContainer {
        height: 100%;
        width: 30%;
        border-right: 1px solid $yellow;
        border-radius: 5px;
        padding: 0.5rem;
        img {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .productDetails {
        @include flex-display(
          $direction: column,
          $space: flex-start,
          $align: flex-start
        );
        background-color: $navbar-background;
        gap: 0.4rem;
        font-family: $primary-font;
        width: 70%;
        padding: 0.6rem;
        .title {
          height: 6vh;

          width: 100%;

          gap: 0.4rem;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .orderPage {
    &-details {
      &-detail {
        flex-direction: column;

        align-items: flex-start;
      }
    }
    &-products {
      .productContainer {
        .productDetails {
          h5:last-child {
            @include flex-display(
              $direction: column,
              $space: flex-start,
              $align: flex-start
            );
            color: red;
          }
        }
      }
    }
  }
}

@media (max-width: 563px) {
  .orderPage {
    &-products {
      .productContainer {
        height: 30rem;
        width: 100%;
        @include flex-display($direction: column);
        border: 5px solid red;

        .imageContainer {
          height: 50%;
          width: 100%;
          border-right: 1px solid $yellow;
          border-radius: 5px;
          padding: 0.5rem;
          img {
            border-radius: inherit;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .productDetails {
          @include flex-display(
            $direction: column,
            $space: flex-start,
            $align: flex-start
          );
          background-color: $navbar-background;
          gap: 0.4rem;
          font-family: $primary-font;
          width: 100%;
          padding: 0.6rem;
          .title {
            height: 6vh;

            width: 100%;

            gap: 0.4rem;

            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 467px) {
  .orderPage {
    &-details {
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}
