.skeletonImages {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  div {
    box-shadow: 0 0 3px 3px $dark-font;
    outline-style: solid;
    outline-color: $dark-font;
    outline-width: 1px;
    outline-offset: -0.4rem;
    color: royalblue;
    border-right-color: $white-font;
    border-left-color: $white-font;
    animation-duration: 1s;
  }
}
