.productListItem {
  border: 1px solid $card-border;
  width: 100%;
  height: $card-height;
  @include flex-display($direction: column, $space: none, $align: center);
  text-align: left;
  border-radius: 15px;

  .imageContainer {
    @include flex-display();
    width: 100%;
    min-height: 50%;
    position: relative;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .favoriteDiv {
      position: absolute;
      top: 0.4rem;
      right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 15px;

      clip-path: polygon(
        0 0,
        100% 0,
        100% 30%,
        100% 100%,
        50% 75%,
        0 100%,
        0 50%,
        0% 30%
      );
    }

    img {
      display: block;
      width: 12rem;
      height: 12rem;
      margin: 0 auto;
      background-color: #ffffff;

      object-fit: cover;
    }
    border-bottom: 1px solid $card-border;
  }

  &-title {
    @include flex-display(
      $direction: column,
      $space: space-between,
      $align: flex-start
    );

    padding: 1rem;
    min-height: 35%;
    width: 100%;
    font-size: 1.2rem;
    font-family: $card-title-font;
    font-weight: bold;
    color: $white-font;
    text-decoration: none;

    .title {
      display: flex;
      min-height: 6rem;
      width: 100%;
    }

    .priceContainer {
      width: 12rem;

      @include flex-display(
        $direction: column,
        $space: space-between,
        $align: flex-start
      );
      &-old {
        .saleContainer {
          display: flex;

          &-oldPrice {
            padding-right: 0.4rem;
            font-size: 1.2rem;
            color: $white-font;
            text-decoration-line: line-through;
            text-decoration-color: $red-dark;
          }

          &-rate {
            color: green;
          }
        }
      }
    }

    .currentPrice {
      color: $white-font;

      font-size: 1.6rem;
    }
  }
}
