.productListItem {
  border: 1px solid rgb(214, 214, 214);
  width: 100%;
  height: $card-height;
  @include flex-display($direction: column, $space: none, $align: none);
  text-align: left;

  a {
    width: 90%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-family: $primary-font;

    font-size: 1rem;
    line-height: 1.6rem;
    &:visited,
    &:hover,
    &:active {
      color: inherit;
    }

    .imageContainer {
      @include flex-display();
      width: 100%;
      height: 70%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        position: absolute;
        object-fit: fill;
        top: 0;
        left: 0;
      }
      .saleBadge {
        @include flex-display();
        text-decoration: none;

        @include badge(
          $width: 1rem,
          $height: 1rem,
          $font-size: 1.2rem,
          $top: -5rem,
          $left: -7rem,
          $border-radius: 50%,

          $borderColor: $white-font
        );

        i {
          color: darken($red-dark, 10%);
        }
      }
    }

    &-title {
      font-size: 1rem;
      font-family: $card-title-font;
      padding-left: 0.6rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-decoration: none;
    }
  }

  button {
    margin-bottom: 1rem;
  }
}
