.filterBar {
  position: relative;
  border: 1px solid black;
  height: 5rem;
  width: 100%;
  margin-left: auto;
  @include flex-display($space: flex-start);
  .radios {
    position: absolute;
    top: 0;
    left: 0;

    input {
      visibility: hidden;
      scale: 0;
      z-index: -10;
    }
  }

  .labels {
    @include flex-display();

    .break {
      font-size: 2.4rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .label {
    }

    .label-activated {
      color: lighten($dark-font, 20%);
      font-size: 1.4rem;
    }
  }
}
