.filterBar {
  position: relative;
  border-top: 1px solid $yellow;
  border-bottom: 1px solid $yellow;
  height: auto;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: $navbar-background;
  color: $white-font;
  box-sizing: border-box;

  .radios {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;

    input {
      visibility: hidden;
      scale: 0;
      z-index: -10;
    }
  }

  .labels {
    border: 1px solid red;
    @include flex-display($direction: column, $align: flex-start);

    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    letter-spacing: 1px;
    font-family: $primary-font;
    background-color: transparent;
    padding: 2rem;
    h3 {
      background-color: inherit;
      font-size: 2.2rem;
    }

    select {
      width: 80%;
      margin: 0.6rem;
      font-size: 1.2rem;
      padding-left: 0.8rem;
    }

    .label {
      background-color: inherit;
      cursor: pointer;
      margin: 0.6rem;
      height: 100%;
      position: relative;
      @include flex-display($direction: row, $space: space-between);

      border-radius: 8px;
      &:hover {
        height: 100%;

        &:after {
          width: 100%;
          background-color: $red-dark;
        }
      }

      &:after {
        background-color: inherit;
        content: '';
        display: block;
        width: 1.4rem;
        height: 0.2rem;
        background-color: $orange;
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        transition: all 0.5s ease;
      }

      &-activated {
        background-color: inherit;
        color: darken($orange, 20%);
        @include flex-display($direction: row);

        position: relative;

        &:hover {
          &:after {
            width: 100%;
            background-color: $red-dark;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          background-color: $red-dark;
          width: 1.4rem;
          height: 0.2rem;
          bottom: 0.4rem;
          left: 0;
          transition: all 0.5s ease;
        }
      }
    }

    .inputField {
      position: relative;
      background-color: inherit;
      margin: 0.6rem;
      width: 80%;
      .searchInput {
        height: 2.4rem;
        padding-left: 0.8rem;

        &::placeholder {
          color: $dark-font;
          font-family: $secondary-font;

          font-weight: 500;
        }
      }

      svg {
        font-size: 1.6rem;
        position: absolute;
        top: 15%;
        right: 5%;
        color: $dark-font;
      }
    }

    span {
      background-color: inherit;
    }
  }
}
