.filterBar {
  position: relative;
  border: 1px solid black;
  height: 5rem;
  width: 100%;
  margin-left: auto;
  @include flex-display($space: flex-start);
  .radios {
    position: absolute;
    top: 0;
    left: 0;

    input {
      visibility: hidden;
      scale: 0;
      z-index: -10;
    }
  }

  .labels {
    @include flex-display($space: space-between);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    letter-spacing: 1px;
    font-family: $primary-font;

    h3 {
      font-size: 1.8rem;
    }

    .label {
      cursor: pointer;
      height: 100%;
      position: relative;
      @include flex-display($direction: row, $space: space-between);

      border-radius: 8px;
      &:hover {
        height: 100%;

        &:after {
          width: 100%;
          background-color: $red-dark;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 1.4rem;
        height: 0.2rem;
        background-color: $orange;
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        transition: all 0.5s ease;
      }

      &-activated {
        color: darken($orange, 20%);
        @include flex-display($direction: row);

        position: relative;

        &:hover {
          &:after {
            width: 100%;
            background-color: $red-dark;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          background-color: $red-dark;
          width: 1.4rem;
          height: 0.2rem;
          bottom: 0.4rem;
          left: 0;
          transition: all 0.5s ease;
        }
      }
    }
  }
}
