.navbar {
  box-sizing: border-box;
  height: 30vh;

  padding: 0 !important;
  box-sizing: border-box;

  margin-bottom: 2rem;

  @include flex-display($direction: column);

  .navigation-logo {
    @include flex-display(
      $direction: row,
      $align: center,
      $space: space-around
    );
    background-color: transparent;

    color: $white-font;
    box-sizing: border-box;

    width: 100%;

    height: auto;

    img {
      height: 7rem;
      width: 10vw;
      object-fit: contain;
    }

    span {
      display: flex;

      width: fit-content;
      font-family: $logo-font !important;
      font-size: 6rem;
      color: $blue-light;

      height: 8rem;
      text-shadow: 3px 3px 3px black, 4px 4px 4px $orange;
      position: relative;
      padding: auto;
    }
  }

  .navContainer {
    width: 100%;
    height: 10vh;

    background-color: darken($blue-dark, 10%);

    border-bottom: 2px solid $orange;
    border-top: 2px solid $orange;

    @include flex-display($space: space-between);

    .navigation {
      height: 100%;
      width: 90vw;
      margin: auto;
      @include flex-display($space: space-between);

      &-links {
        width: auto;

        height: 100%;
        background-color: transparent;
        font-size: $link-size;
        font-family: $logo-font;
        letter-spacing: 1px;
        text-decoration: none;
        @include flex-display($space: flex-start, $align: center);
        gap: 2rem;

        a {
          color: $white-font;

          background-color: transparent;

          text-transform: uppercase;

          padding-left: 0.8rem;
          padding-right: 0.8rem;
          border-radius: 15px;
          transition: all 0.5s ease;
          &:hover {
            background-color: $orange;
            color: $dark-font;
            font-size: calc($link-size + 0.2rem);
          }
        }
      }

      .mini-links {
        display: none;
      }

      .loggers {
        width: 15rem;

        @include flex-display($space: space-between);

        &-icons {
          width: 100%;
          background-color: transparent;
          @include flex-display();

          .basketDiv {
            @include flex-display();

            text-decoration: none;
            width: auto;

            .logoWrapper {
              margin: auto;
              padding-bottom: 1rem;
              a {
                text-decoration: none;
                background: inherit;
                width: 100%;
                font-size: 1.4rem;
                background-color: inherit;

                &:hover {
                }

                i {
                  font-size: 2.6rem;
                  color: $white-font;

                  &:hover {
                    color: $orange;
                  }
                }

                .badge {
                  @include flex-display();
                  background-color: darken($red-dark, 10%);
                  @include badge(
                    $width: 1.6rem,
                    $height: 1.6rem,
                    $font-size: 1rem,
                    $top: 0.8rem,
                    $left: 2rem,

                    $border-radius: 50%,
                    $borderColor: $white-font
                  );
                }
              }
            }
          }
        }

        &-panel {
          display: flex;
          width: 20rem;
          height: 5rem;

          .loginButton {
          }
          .logoutButton {
            margin: auto;
            width: 100%;
            height: 100%;
            border: none;
            background-color: $red-dark;

            transition: all 0.5s ease;
            display: flex;
            &:hover {
              background-color: darken($red-dark, 10%);
            }

            button {
              border: none;
              @include flex-display();
              gap: 0.4rem;
              background-color: transparent;
              color: $white-font;
              font-size: 1.4rem;

              width: 100%;
              height: 100%;
              margin: auto;
            }

            svg {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1275px) {
  .logoutButton {
    width: 4rem;

    .logoutUser {
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 920px) {
  .navigation-logo {
    img:nth-child(3) {
      display: none;
    }
    img:nth-child(6) {
      display: none;
    }

    span {
      width: 20rem !important;
      @include flex-display();

      font-size: 6rem !important;
      border: 1px solid yellow;
    }
  }
  .navigation-links {
    display: none !important;
    a {
      display: none;
    }
  }

  .mini-links {
    display: flex !important;
    color: $orange !important;
    height: 100% !important;
    width: 6rem !important;

    i {
      margin: auto;
      font-size: 3rem;
    }
  }

  .loggers {
    .logoutButton {
      width: 5rem !important;
    }
  }
}

@media (max-width: 694px) {
  .navigation-logo {
    span {
      width: 35% !important;
      font-size: 4rem !important;
    }
  }
}

@media (max-width: 586px) {
  .navigation-logo {
    img {
      height: 8rem !important;
      width: 8rem !important;
      object-fit: cover;

      margin-top: 1rem;
    }

    img:nth-child(1) {
      display: none !important;
    }
    img:nth-child(5) {
      display: none !important;
    }
    span {
      width: 40% !important;
      font-size: 3.8rem !important;
    }
  }
}

@media (max-width: 489px) {
  .navigation-logo {
    img {
      height: 6rem !important;
      width: 6rem !important;
      object-fit: cover;

      margin-top: 1rem;
    }

    span {
      width: 50% !important;
      font-size: 3.6rem !important;
    }
  }
}
