.navbar {
  box-sizing: border-box;
  height: 15vh;
  margin: 0;
  padding: 0 !important;
}

.navigation {
  height: 100%;
  width: 100% !important;
  background-color: $navbar-background;

  @include flex-display($space: space-between);

  &-links {
    width: 60%;
    height: 70%;
    background-color: transparent;
    font-size: $link-size;
    font-family: $primary-font;
    text-decoration: none;
    @include flex-display($space: flex-start, $align: flex-end);

    a {
      color: $white-font;

      background-color: transparent;
      padding-left: 1rem;
      text-transform: uppercase;
    }
  }

  &-logo {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: $white-font;

    span {
      background-color: transparent;
    }

    span {
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  height: 70%;
  padding-bottom: 0.6rem;
  background-color: transparent;
  .inputField {
    position: relative;
    background-color: inherit;
    .searchInput {
      width: 100%;

      border-radius: 12px;
      height: 2.4rem;
      padding-left: 0.4rem;
      &::placeholder {
        color: $dark-font;
        font-family: $secondary-font;

        font-weight: 500;
      }
    }

    svg {
      font-size: 1.6rem;
      position: absolute;
      top: 20%;
      right: 5%;
      color: $dark-font;
    }
  }
}

.loggers {
  background-color: $navbar-background;
  width: 25%;
  height: 100%;
  @include flex-display($space: space-around);

  &-icons {
    width: 100%;
    background-color: transparent;
    @include flex-display($space: center);

    .basketDiv {
      background-color: inherit;
      @include flex-display($space: center);
      position: relative;
      text-decoration: none;
      width: fit-content;
      height: 100%;
      padding-bottom: 0.6rem;
      a {
        text-decoration: none;
        background: inherit;
        width: 100%;
        font-size: 1.4rem;
        background-color: inherit;
        i {
          width: 100%;
          font-size: 2.6rem;
          color: white;
          background-color: inherit;
          transition: $transition;

          &:hover {
            color: $orange;
          }
        }

        .badge {
          @include flex-display();
          background-color: darken($red-dark, 10%);
          @include badge(
            $width: 1.6rem,
            $height: 1.6rem,
            $font-size: 1rem,
            $top: 0.8rem,
            $left: 2rem,

            $border-radius: 50%,
            $borderColor: $white-font
          );
        }
      }
    }
  }
  &-buttons {
    background-color: transparent;
    width: 100%;
    gap: 0.5rem;
    @include flex-display($space: center);

    button {
      width: 6rem;
      height: 3rem;
      transition: $transition;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-family: $secondary-font;
      text-transform: uppercase;
    }

    &-log {
      background-color: darken($orange, 20%);
      color: white;

      &:hover {
        background-color: $white-font;
        color: black;
      }
    }

    &-sign {
      background-color: darken($dark-font, 10%);
      color: white;

      &:hover {
        background-color: $white-font;
        color: black;
      }
    }
  }

  .userBox {
    @include flex-display($space: space-between);

    width: 15rem;
    margin-right: 1rem;
    background-color: transparent;
    .userIMG {
      background-color: inherit;
      img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
      }
    }

    .userPanel {
      background-color: transparent;
      button {
        background-color: lighten($red-dark, 5%);
        height: 4rem;
        width: 3rem;
        border: none;
        border-radius: 5px;
        svg {
          font-size: 1.6rem;
          color: lighten($white-font, 20%);
          background-color: lighten($red-dark, 5%);
        }
      }
    }
  }
}
