.navbar {
  box-sizing: border-box;
  height: 20vh;
  margin: 0;
  padding: 0 !important;
}

.navigation {
  height: 100%;
  width: 100% !important;
  background-color: $navbar-background;

  @include flex-display($space: space-between);

  &-logo {
    @include flex-display($direction: column, $align: flex-start);
    background-color: transparent;
    color: $white-font;
    box-sizing: border-box;

    width: 15rem;
    height: 15vh;
    text-align: justify;
    img {
      height: 6rem;
      width: 10rem;
      object-fit: cover;
    }

    span {
      font-family: $primary-font;
      font-size: 2.4rem;
    }
  }

  &-links {
    width: 60%;
    height: 70%;
    background-color: transparent;
    font-size: $link-size;
    font-family: $primary-font;
    text-decoration: none;
    @include flex-display($space: flex-start, $align: flex-end);

    a {
      color: $white-font;

      background-color: transparent;
      padding-left: 2rem;
      text-transform: uppercase;
    }
  }
}

.loggers {
  background-color: $navbar-background;
  width: 25%;
  height: 100%;
  @include flex-display($space: space-around);

  &-icons {
    width: 100%;
    background-color: transparent;
    @include flex-display($space: center);

    .basketDiv {
      background-color: inherit;
      @include flex-display($space: center);
      position: relative;
      text-decoration: none;
      width: fit-content;
      height: 100%;
      padding-bottom: 0.6rem;
      a {
        text-decoration: none;
        background: inherit;
        width: 100%;
        font-size: 1.4rem;
        background-color: inherit;
        i {
          width: 100%;
          font-size: 2.6rem;
          color: white;
          background-color: inherit;
          transition: $transition;

          &:hover {
            color: $orange;
          }
        }

        .badge {
          @include flex-display();
          background-color: darken($red-dark, 10%);
          @include badge(
            $width: 1.6rem,
            $height: 1.6rem,
            $font-size: 1rem,
            $top: 0.8rem,
            $left: 2rem,

            $border-radius: 50%,
            $borderColor: $white-font
          );
        }
      }
    }
  }
  &-buttons {
    background-color: transparent;
    width: 100%;
    gap: 0.5rem;
    @include flex-display($space: center);

    button {
      width: 6rem;
      height: 3rem;
      transition: $transition;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      font-family: $secondary-font;
      text-transform: uppercase;
    }

    &-log {
      background-color: darken($orange, 20%);
      color: white;

      &:hover {
        background-color: $white-font;
        color: black;
      }
    }

    &-sign {
      background-color: darken($dark-font, 10%);
      color: white;

      &:hover {
        background-color: $white-font;
        color: black;
      }
    }
  }

  .userBox {
    @include flex-display($space: space-between);

    width: 15rem;
    margin-right: 1rem;
    background-color: transparent;

    .userPanel {
      @include flex-display($space: space-between);

      background-color: lighten($red-dark, 5%);
      font-family: $primary-font;
      color: $white-font;
      font-size: 1.2rem;
      padding-left: 0.6rem;
      border-radius: 8px;

      cursor: pointer;

      button {
        background-color: lighten($red-dark, 5%);
        height: 4rem;
        width: 3rem;
        border: none;
        border-radius: 5px;
        &:hover {
          background-color: $red-dark;
        }
        svg {
          font-size: 1.6rem;
          color: lighten($white-font, 20%);
        }
      }

      &:hover {
        background-color: $red-dark;
      }
    }
  }
}
